POSTGRES_USER=retailflow
POSTGRES_PASSWORD=replace_with_a_strong_local_password
POSTGRES_DB=retailflow
POSTGRES_PORT=5432

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=replace_with_a_different_strong_password
AIRFLOW_DB_NAME=airflow
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=replace_with_a_strong_admin_password
AIRFLOW_PORT=8080
